@use "../../../styles/colors";

// Styling for rectangle buttons

@mixin button-convex($color) {
  box-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.8),
    inset -3px -3px 6px $color, 2px 2px 8px rgba(181, 181, 181, 0.8);
}

@mixin button-concave($color) {
  box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.8),
    inset 3px 3px 6px $color, 2px 2px 8px rgba(181, 181, 181, 0.8);
}

@mixin create-shape($color) {
  &.concave {
    @include button-concave($color);
  }

  &.convex {
    @include button-convex($color);
  }
}

.btn {
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 0.6em 2em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
}

.general {
  @extend .btn;
}

.gold {
  color: colors.$blue-dark;
  background: colors.gold(90);
  @include create-shape(colors.gold());
}

.blue {
  color: #fff;
  background: colors.$blue-dark;
  @include create-shape(colors.$blue-dark);
}

.gray {
  color: #fff;
  background: colors.$gray;
  @include create-shape(colors.$gray);
}

.l {
  min-width: 65%;
  min-height: 56px;
  font-size: 26px;
}

.m {
  min-width: 40%;
  min-height: 48px;
  font-size: 21px;
}

.s {
  min-width: 25%;
  min-height: 32px;
  font-size: 15px;
}
