@use "../../../styles/colors";

// Styling for rectangle buttons

@mixin button-color($color) {
  box-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.8),
    inset -3px -3px 6px $color, 2px 2px 8px rgba(181, 181, 181, 0.8);
}

.btn {
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 0.6em 2em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
}

.general {
  @extend .btn;
}

.gold {
  color: colors.$blue-dark;
  background: colors.gold(90);
  @include button-color(colors.gold());
}

.blue {
  color: #fff;
  background: colors.$blue-dark;
  @include button-color(colors.$blue-dark);
}

.large {
  min-width: 65%;
  min-height: 56px;
  font-size: 26px;
}
