.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  .levels {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;

    .bubble {
      position: absolute !important;
      width: 180px;
      height: 180px;
      //   overflow: hidden;
      //   box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      //   transform: translateY(0px);

      border-radius: 50%;

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          top: ($i - 1) * 25% - 5%;
          animation: float #{$i * 4}s ease-in-out #{$i * 0.2}s infinite;

          @if $i % 2 == 1 {
            left: $i * 2% - 5%;
          } @else {
            right: $i * 2% - 5%;
          }
        }
      }
    }
  }
}

.bg {
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(0px);
  }
}
